RewriteEngine on
	
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^home               /index.php?acao=login [L]
RewriteRule ^logoff             /index.php?acao=logoff [L]
RewriteRule ^arquivos/ativos/   /index.php?acao=listar-arquivos&status=ATIVO 
RewriteRule ^arquivos/inativos/ /index.php?acao=listar-arquivos&status=INATIVO 
