RewriteEngine on
	
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^/               	     	 	      /index.php [L]
RewriteRule ^home               	 	 	      /index.php?acao=login [L]
RewriteRule logoff               	 		      /index.php?acao=logoff

RewriteRule ^arquivos/cadastrar       	 	      /index.php?acao=cadastro&modulo=Arquivos
RewriteRule ^cadastrar/arquivo        	 	      /index.php?acao=cadastrar&modulo=Arquivos
RewriteRule ^arquivos/ativos          		      /index.php?acao=lista&modulo=Arquivos&status=ATIVO
RewriteRule ^arquivos/inativos        	          /index.php?acao=lista&modulo=Arquivos&status=INATIVO
RewriteRule ^editar/arquivo/([0-9]*)/(.*)         /index.php?acao=editar&modulo=Arquivos&id=$1&status=$2
RewriteRule ^excluir/arquivo/([0-9]*)/(.*)        /index.php?acao=excluir&modulo=Arquivos&id=$1&anexo=$2
 
RewriteRule ^servidores/cadastrar                 /index.php?acao=cadastro&modulo=Servidores
RewriteRule ^cadastrar/servidor               	  /index.php?acao=cadastrar&modulo=Servidores
RewriteRule ^servidores/editar/([0-9]*)           /index.php?acao=edicao&modulo=Servidores&id=$1
RewriteRule ^editar/servidor/([0-9]*)             /index.php?acao=editar&modulo=Servidores&id=$1
RewriteRule ^servidores/ativos                    /index.php?acao=lista&modulo=Servidores&status=ATIVO
RewriteRule ^servidores/inativos                  /index.php?acao=lista&modulo=Servidores&status=INATIVO









 
RewriteRule ^servidores/editar/(.*)/(.*) /index.php?acao=editar-servidor&id=$1&CPF=$2

RewriteRule ^servidores/alterar-status/(.*)/(.*) /index.php?acao=alterar-status-servidor&id=$1&status=$2

RewriteRule ^servidores/excluir/(.*)/(.*) /index.php?acao=excluir-servidor&id=$1&anexo=$2
  
